<% content_for :extra do %>
<%= javascript_include_tag 'jquery.Jcrop.min' %>
<%= stylesheet_link_tag 'jquery.Jcrop' %>
<script language="Javascript">

function showPreview(coords)
{
	var rx = <%= Article::AVATAR_SW %> / coords.w;
	var ry = <%= Article::AVATAR_SH %> / coords.h;
	var ratio = <%= @article.avatar_geometry(:original).width %> / <%= @article.avatar_geometry(:normal).width %>; 

	$('#preview').css({
		width: Math.round(rx * <%= @article.avatar_geometry(:normal).width.to_i %>) + 'px',
		height: Math.round(ry * <%= @article.avatar_geometry(:normal).height.to_i %>) + 'px',
		marginLeft: '-' + Math.round(rx * coords.x) + 'px',
		marginTop: '-' + Math.round(ry * coords.y) + 'px'
	});
  $('#crop_x').val(Math.round(coords.x * ratio));
  $('#crop_y').val(Math.round(coords.y * ratio));
  $('#crop_w').val(Math.round(coords.w * ratio));
  $('#crop_h').val(Math.round(coords.h * ratio));
}

$(function() {
  $('#cropbox').Jcrop({
      onSelect: showPreview,
      onChange: showPreview,
      setSelect:   [ 0, 0, 240, 240 ],
      aspectRatio: <%= Article::AVATAR_SW %>/<%= Article::AVATAR_SH %>
    });
});

</script>
<% end %>

<p>
  <b>Name:</b>
  <%=h @article.name %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @article.avatar.url(:normal), :id => 'cropbox' %>
<div style="width:<%= Article::AVATAR_SW %>px;height:<%= Article::AVATAR_SH %>px;overflow:hidden">
  <%= image_tag @article.avatar.url(:normal), :id => 'preview' %>
</div>
</p>

<% form_for @article do |f| %>
  <%= f.hidden_field :crop_x, :id => 'crop_x' %>
  <%= f.hidden_field :crop_y, :id => 'crop_y' %>
  <%= f.hidden_field :crop_w, :id => 'crop_w' %>
  <%= f.hidden_field :crop_h, :id => 'crop_h' %>
  <%= f.submit "Crop!" %>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
