<h1>New article</h1>

<% form_for(@article, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <ol class="form">
  <li>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </li>
  <li>
    <%= f.file_field :avatar %>
  </li>
  <li>
    <%= f.submit "Create" %>
  </li>
  </ol>
<% end %>
