<section id="district_map" class="district_map">
      <img src="/images/map_berlin.png" width="321" height="263" alt="Map Berlin">
      <ul class="districts">
        <% if !@districts.blank? %>
          <% for district in @districts %>
            <li class="<%= district.slug %><%= " active" if !@district.nil? and @district == district %>"><a href="<%= local_path(district.slug) %>"><img src="/images/stadts/berlin/<%= district.slug %>.png"></a><span><%= district.name %><% if district.articles_count > 0 %> <span class="count"><%= district.articles_count %></span><% end %></span></li>
          <% end %>
        <% else %>
          
        <% end %>
<!--         <li class="spandau"><a href="#"><img src="/images/stadts/berlin/spandau.png" width="84" height="127" alt="Spandau"></a><span>Spandau</span></li>
        <li class="zehelendorf"><a href="#"><img src="/images/stadts/berlin/zehelendorf.png" width="140" height="62" alt="Zehelendorf"></a><span>Zehelendorf</span></li>
        <li class="hellersdorg"><a href="#"><img src="/images/stadts/berlin/hellersdorg.png" width="66" height="78" alt="Hellersdorg"></a><span>Hellersdorg</span></li>
        <li class="kopenik"><a href="#"><img src="/images/stadts/berlin/kopenik.png" width="127" height="120" alt="Kopenik"></a><span>Kopenik</span></li>
        <li class="pankow"><a href="#"><img src="/images/stadts/berlin/pankow.png" width="48" height="75" alt="Pankow"></a><span>Pankow</span></li>
        <li class="reinickendorf"><a href="#"><img src="/images/stadts/berlin/reinickendorf.png" width="90" height="92" alt="Reinickendorf"></a><span>Reinickendorf</span></li>
        <li class="tempelhof"><a href="#"><img src="/images/stadts/berlin/tempelhof.png" width="39" height="89" alt="Tempelhof"></a><span>Tempelhof</span></li>
        <li class="treptow"><a href="#"><img src="/images/stadts/berlin/treptow.png" width="62" height="61" alt="Treptow"></a><span>Treptow</span></li>
        <li class="weissensee"><a href="#"><img src="/images/stadts/berlin/weissensee.png" width="45" height="104" alt="Weissensee"></a><span>Weissensee</span></li>
        <li class="neukoln"><a href="#"><img src="/images/stadts/berlin/neukoln.png" width="62" height="75" alt="Neukoln"></a><span>Neukoln</span></li>
        <li class="lichtenberg"><a href="#"><img src="/images/stadts/berlin/lichtenberg.png" width="43" height="49" alt="Lichtenberg"></a><span>Lichtenberg</span></li>
        <li class="hohensomohausen"><a href="#"><img src="/images/stadts/berlin/hohensomohausen.png" width="48" height="54" alt="Hohensomohausen"></a><span>Hohensomohausen</span></li>
        <li class="mitte"><a href="#"><img src="/images/stadts/berlin/mitte.png" width="62" height="57" alt="Mitte"></a><span>Mitte</span></li>
        <li class="prenzelauerberg"><a href="#"><img src="/images/stadts/berlin/prenzelauerberg.png" width="38" height="34" alt="Prenzelauerberg"></a><span>Prenzelauerberg</span></li> -->
      </ul>
    </section>