<article id="article_<%= article.id %>" class="article">
  <header>
    <hgroup>
      <h2><%= h article.title %></h2>
      <h3><%= article.created_at.strftime("%b %d") %></h3>
    </hgroup>
  </header>
  <section class="story">
    <%= raw RedCloth.new(article.content).to_html %>
    <dl class="portrait">
      <dt><%= article.name %></dt>
      <dd><img src="<%= article.avatar.url(:small) %>" width="294" height="219" alt="Chris"></dd>
    </dl>
  </section>
</article>